<div class="hp-wrapper">
  <div class="section">
    <div class="hp-row">
      {% unless block.settings.hp_heading == blank %}
        <div class="hp-heading">
          <h2>{{ block.settings.hp_heading }}</h2>
        </div>
      {% endunless %}
      <div class="hp-icons-wrapper">
      {% unless block.settings.icon_image_1 == blank %}
        <div class="hp-icon-wrap one">
          <img src="{{ block.settings.icon_image_1 | img_url : 'master' }}">
          <h3>{{ block.settings.icon_title_1 }}</h3>
        </div>
      {% endunless %}
       
        <div class="arrow-path-img">
        	<img src="https://cdn.shopify.com/s/files/1/0489/4467/7020/t/2/assets/arrow-path.png">
        </div>
        
      {% unless block.settings.icon_image_2 == blank %}        
        <div class="hp-icon-wrap two">
          <img src="{{ block.settings.icon_image_2 | img_url : 'master' }}">
          <h3>{{ block.settings.icon_title_2 }}</h3>
        </div>
      {% endunless %}

      {% unless block.settings.icon_image_3 == blank %}
        <div class="hp-icon-wrap three">
          <img src="{{ block.settings.icon_image_3 | img_url : 'master' }}">
          <h3>{{ block.settings.icon_title_3 }}</h3>
        </div>
      {% endunless %}
        
      {% unless block.settings.icon_image_4 == blank %}
        <div class="hp-icon-wrap four">
          <img src="{{ block.settings.icon_image_4 | img_url : 'master' }}">
          <h3>{{ block.settings.icon_title_4 }}</h3>
        </div>
      {% endunless %}
        
      {% unless block.settings.icon_image_5 == blank %}
        <div class="hp-icon-wrap five">
          <img src="{{ block.settings.icon_image_5 | img_url : 'master' }}">
          <h3>{{ block.settings.icon_title_5 }}</h3>
        </div>
      {% endunless %}
        
      {% unless block.settings.icon_image_6 == blank %}
        <div class="hp-icon-wrap six">
          <img src="{{ block.settings.icon_image_6 | img_url : 'master' }}">
          <h3>{{ block.settings.icon_title_6 }}</h3>
        </div>
      {% endunless %}
      </div>
      {% unless block.settings.hp_content == blank %}
        <div class="hp-content">
          <p>{{ block.settings.hp_content }}</p>
        </div>
      {% endunless %}
      {% if block.settings.show_hp_btn %}
      <div class="hp-btn-wrap">
        <a href="{{ block.settings.hp_btn_url }}">{{ block.settings.hp_btn_title }}</a>
      </div>
      {% endif %}
    </div>
  </div> 
</div>
