{% if section.settings.show_section %}
<div class="product-steps-section">
  <div class="section">
    <div class="product-heading">
      {% unless section.settings.steps_mainsubheading == blank %}
      <p>{{section.settings.steps_mainsubheading}}</p>
      {% endunless %}
      
      {% unless section.settings.steps_mainheading == blank %}
      <h2>{{section.settings.steps_mainheading}}</h2>
      {% endunless %}
    </div>
    
    <div class="product-five-steps">
      {% for block in section.blocks%}
      
      <div class="product-steps">
        {% unless block.settings.steps-image == blank %}
        <img src="{{block.settings.steps-image | img_url : 'master' }}" alt="{{block.settings.steps-image}}">
        {% endunless %}
        
        {% unless block.settings.steps-heading == blank %}
        <h2>{{block.settings.steps-heading}}</h2>
        {% endunless %}
        
        {% unless block.settings.steps-text == blank %}
        <p>{{block.settings.steps-text}}
        {% endunless %}
      </div>
      
      
      {%endfor%}
    </div>
    
  </div>
</div>
{% endif %}



{% schema %}
  {
    "name": "5 simple steps",
    "max_blocks": 5,
    "settings": [
		{
		"type": "checkbox",
		"id": "show_section",
		"label": "Enable Steps Section",
		"default": true
		},
		{
		"type": "text",
		"id": "steps_mainsubheading",
		"label": "Subheading"
		},
		{
		"type": "text",
		"id": "steps_mainheading",
		"label": "Heading"
		}
	],
	"blocks": [
		{
		"type": "content",
		"name": "5 simple steps",
		"settings": [
		{
		"type": "image_picker",
		"id" : "steps-image",
		"label": "Image"
		},
		{
		"type": "text",
		"id" : "steps-heading",
		"label": "Steps Heading"
		},
		{
		"type": "textarea",
		"id" : "steps-text",
		"label": "Steps Text"
		}

				
		]
		}
	]
  }
{% endschema %}
