{% if section.settings.show_section %}
  {% unless product.metafields.detail_section.detail_text == blank %}
  <div class="product-details">
    <div class="section">
      <div class="product-details-section">
        <div class="detail-text">

          {% unless product.metafields.detail_section.detail_heading == blank %}
          <h2>{{ product.metafields.detail_section.detail_heading }}</h2>
          {% endunless %}

          {% unless product.metafields.detail_section.detail_text == blank %}
          <div class="d-text">{{ product.metafields.detail_section.detail_text }}</div>
          {% endunless %}
        </div>

        <div class="details-question">

          {% unless section.settings.consultant_image == blank %}
          <img src="{{section.settings.consultant_image | img_url : 'master' }}" alt="{{section.settings.consultant_image}}">
          {% endunless %}

          {% unless section.settings.question_heading == blank %}
          <h2>{{section.settings.question_heading}}</h2>
          {% endunless %}

          {% unless section.settings.question_text == blank %}
          <p>{{section.settings.question_text}}</p>
          {% endunless %}

        </div>
      </div>
    </div>
  </div>
  {% endunless %}
{% endif %}


{% schema %}
  {
    "name": "Product Details",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_section",
		"label": "Enable Section",
		"default": true
		},
  		{
  		"type": "image_picker",
  		"id": "consultant_image",
		"label": "Consultant Image"
  	   },
	   {
		"type": "text",
		"id": "question_heading",
		"label": "Question heading",
		"default": "Have Question"
	   },
	   {
		"type": "textarea",
		"id": "question_text",
		"label": "Question Text"
	   }
  	]
  }
{% endschema %}
